.FrontMap {
  width: 100%;
  height: 56vh;
  border-radius: 1.5rem;
}
.FrontMap:hover {
  cursor: pointer;
}
.Heading {
  font-size: 1.15rem;
  display: inline-block;
}
@media only screen and (min-width: 1200px) {
  .FrontMap {
    height: 49vh;
  }
}
