.WeatherCircle {
  text-align: center;
  margin: 0.5rem;
}
.WeatherCircle p {
  font-size: 1rem;
  margin-top: 0.4rem;
}
.WeatherCircle i {
  position: relative;
  font-size: 1.7rem;
  color: rgb(76, 150, 185);
}
