.Wrapper {
    width: 100%; 
}
.AirQualityBox {
    width: 50%;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: -3px -3px 5px #ffffffab, 7px 6px 20px rgba(94, 104, 121, .288);    
    border-radius: 2rem;
    background: linear-gradient(138deg, rgba(247,253,255,1) 47%, rgb(203, 244, 255) 100%);
}
.Index, .Advice {
    margin: .5rem 0 .5rem .8rem;
}