.Topbar {
  height: 1rem;
  padding: 1.5rem 0.5rem 5.5rem 2.5rem;
  background: rgb(95, 208, 255);
  background: linear-gradient(160deg, #6eb6ff 0%, #90f2ff 100%);
  display: flex;
  justify-content: flex-end;
  border-radius: 2em 2em 0 0;
  overflow: hidden;
}
.Watermark {
  color: rgba(255, 255, 255, 0.1);
  font-size: 11rem;
  cursor: default;
  text-overflow: clip;
  font-family: Helvetica;
  font-weight: bold;
  position: relative;
  top: -4rem;
  left: 10rem;
  letter-spacing: -13px;
  padding: 0 1rem;
}
@media only screen and (min-width: 320px) {
  .Watermark {
    font-size: 11rem;
    top: -4rem;
    left: 10rem;
  }
  .Topbar {
    height: 1rem;
    padding: 1.5rem 0.5rem 5.5rem 2.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .Watermark {
    font-size: 12rem;
    top: -5rem;
    left: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .Watermark {
    left: -5rem;
    top: -6rem;
  }
}

@media only screen and (min-width: 992px) {
  .Watermark {
    left: -7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .Watermark {
    left: -11rem;
  }
}
@media only screen and (min-width: 1400px) {
  .Watermark {
    left: -28rem;
  }
  .Topbar {
    height: 2rem;
  }
}
