.Results {
  height: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
}

.Measurements {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media only screen and (min-width: 660px) {
  .Measurements {
    flex-direction: row;
  }
}
