.NavigationItem {
  margin: 0 -0.3rem;
  box-sizing: border-box;
  display: block;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .NavigationItem {
    margin: 0;
  }
}
