.MeasurementBox {
    width: 40%;
    height: auto;
    box-shadow: -3px -3px 3px #ffffff73, 7px 6px 24px rgba(94, 104, 121, .288);    
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    background: linear-gradient(138deg, rgba(247,253,255,1) 27%, rgba(236,251,255,1) 100%);
}
.Circles {
    display: flex;
    justify-content: space-between;
}
.Label {
    margin-bottom: 1.5rem;
}
.Pollution {
    margin-top: -1.5rem;
}