.Input {
  display: inline-block;
}
.Input input {
  outline: none;
  width: 87%;
  height: 2.3rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: #e6f2ff;
  box-shadow: -2px -2px 1px #ffffffab inset,
    2px 3px 2px rgba(94, 104, 121, 0.288) inset;
  border: none;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
input {
  outline: none;
  display: block;
}
input[type='text'],
input[type='password'],
textarea,
select {
  outline: none;
}
.Label {
  font-size: 1.4rem;
  font-weight: bold;
}
.Sublabel {
  font-size: 0.89rem;
  color: rgb(182, 206, 218);
}
.Invalid {
  border: 1px solid red;
  background-color: salmon !important;
}
.Feedback {
  position: absolute;
  margin: auto;
  text-align: left;
  font-size: 1rem;
  color: red;
  height: 0;
  opacity: 0;
}
.In {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  height: 100%;
}

@media only screen and (min-width: 576px) {
  .Label {
    font-size: 1.8rem;
  }
  .Sublabel {
    font-size: 1.15rem;
  }
  .Input input {
    width: 97%;
  }
}
