.Wrapper {
    width: 100vw;
    height: 100vh;
}
.Main {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    top: 15%;
    left: 15%;
    border-radius: 2em;
}
.Content {
    flex-basis: 100%;
    padding: 5vw;
}