.Wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(159, 244, 255);
  background: radial-gradient(
    circle,
    rgba(159, 244, 255, 1) 0%,
    rgba(224, 252, 255, 1) 66%
  );
}
.Wrapper::after {
  content: '';
  background: url('../../assets/img/clouds-bg-c.jpg');
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.Main {
  background-color: rgb(246, 251, 253);
  position: absolute;
  display: block;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  top: 10%;
  left: 15%;
  border-radius: 2em;
  box-shadow: -3px -3px 15px #ffffff73, 3px 3px 50px rgba(94, 104, 121, 0.288);
  z-index: 2;
}
nav {
  z-index: 1;
}
.Content {
  flex-basis: 100%;
  padding: 0 1rem 2rem 1rem;
}
.Curved {
  margin-top: -22%;
}
.Curved svg {
  display: block;
}

@media only screen and (min-width: 320px) {
  .Main {
    width: 90vw;
    height: auto;
    min-height: 90vh;
    left: 5%;
    top: 3%;
  }
}
@media only screen and (min-width: 576px) {
  .Main {
    width: 85vw;
    height: 85vh;
    left: 8%;
    top: 8%;
  }
  .Content {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .Main {
    width: 70vw;
    height: 80vh;
    top: 5%;
    left: 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .Curved {
    margin-top: -20%;
  }
}
